.wait-time {
	padding: 0px 10px;
	text-align: right;
	color:green;
	float:right;

}

.wait-time2 {
	padding: 0px 10px;
	text-align: right;
	color:#C4A903;
	float:right;
}

.wait-time3 {
	padding: 0px 10px;
	text-align: right;
	color: red;
	float:right;
}

.wait-title{
		padding: 0px 20px 0px 0px;
	
		text-align: right;

		
}

.nav-title{
		padding:0px 0px 0px 10px;
		display: inline;
		float: left;
}

.rName{

		float: left;
		font-size: small;
}		padding: 0px 20px;

h1{
	font-size:*11pt;
}

.bSort{
	
	margin-left: 30px;
	margin-right: 20px;
	float: left;


}




